/**----------------------------------------
START: Theme Default CSS
----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Vina+Sans&display=swap');

:root {
  --sds-ff-body: 'Oswald', sans-serif;
  --sds-ff-heading: 'Vina Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  overflow-x: hidden;
}

/**
  Typography CSS
*/
body {
  font-size: 16px;
  font-family: var(--sds-ff-body);
  color: #303030;
  font-weight: normal;
  word-break: break-word;
  background-color: #FCF1E3;
  line-height: 30px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121212;
  font-weight: 400;
  font-family: var(--sds-ff-heading);
  margin-top: 0;
  line-height: 1.2;
  transition: all 0.3s ease-in-out 0s;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 24px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.3s ease-in-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

select,
.nice-select,
input:not([type=submit]):not([type=radio]):not([type=checkbox]),
textarea {
  outline: none;
  height: auto;
  width: 100%;
  color: #000000;
  border: none;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 50%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--sds-color-theme-primary);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

*::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-moz-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::placeholder {
  color: #ffffff;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

/**
 	Common Classes CSS
*/
img {
  max-width: 100%;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-width {
  position: relative;
  max-width: 1790px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**
 	Button CSS
*/

.primary-btn {
  display: inline-block;
  position: relative;
  color: #2A0C00;
  background: #FFC705;
  font-family: var(--sds-ff-heading);
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 14px 40px;
  transition: all 500ms ease;
  overflow: hidden;
  line-height: 1;
}

.primary-btn:before {
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  bottom: 110%;
  left: 50%;
  background: #E43324;
  transform: translateX(-50%);
  transition-duration: 800ms;
  border-radius: 100px;
}

.primary-btn span {
  position: relative;
  z-index: 1;
}

.primary-btn:hover span {
  color: #ffffff;
}

.primary-btn:hover::before {
  bottom: -40%;
}


/**----------------------------------------
START: Video Testimonial CSS
----------------------------------------*/
.video-testimonial-slider-section {
  padding-top: 160px;
  padding-bottom: 160px;
}

.video-testimonial-slider-section .flickity-prev-next-button {
  width: 56px;
  height: 56px;
  background: #FCF1E3;
  border: 2px solid #2A0C00;
}

.video-testimonial-slider-section .flickity-prev-next-button:hover {
  background-color: #2A0C00;
}

.video-testimonial-slider-section .flickity-prev-next-button:hover svg path {
  fill: #ffffff;
}

.video-testimonial-slider-section .flickity-prev-next-button.next {
  right: -28px;
}

.video-testimonial-slider-section .flickity-prev-next-button.previous {
  left: -28px;
}

.video-testimonial-slider-section .flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 26px;
}

.video-testimonial-slider-section .heading-area {
  position: relative;
  max-width: 690px;
  width: 100%;
  margin: 0 auto 64px;
  text-align: center;
}

.video-testimonial-slider-section .heading-area .header-shape {
  max-width: 235px;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
}

.video-testimonial-slider-section .heading-area .sec-title {
  position: relative;
  line-height: 1;
  z-index: 1;
}

.video-testimonial-item {
  position: relative;
  margin: 0 12px;
  width: calc((100% / 4) - 18px);
  overflow: hidden;
}

.video-testimonial-item .video-testimonial-content-box {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: space-between;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 94%;
  width: 100%;
  background: #FCF1E3;
  padding: 12px 12px;
  z-index: 2;
}

.video-testimonial-item .video-testimonial-images {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 750px;
  overflow: hidden;
}

.video-testimonial-item .video-testimonial-images img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-wrap {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-thumb {
  display: flex;
  flex-shrink: 0;
  max-width: 80px;
  width: 100%;
  overflow: hidden;
}

.video-testimonial-item .video-testimonial-content-box:hover .video-testimonial-thumb img {
  transform: scale(1.05) rotate(2deg);
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-text .video-testimonial-title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-text .video-testimonial-percent {
  display: block;
  font-size: 18px;
  letter-spacing: 0.3px;
  margin-top: 4px;
  line-height: 1.3;
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  background: #FFC705;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-icons:hover {
  background-color: #2A0C00;
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-icons:hover svg {
  animation: slideInOut 1s infinite;
}

.video-testimonial-item .video-testimonial-content-box .video-testimonial-icons:hover svg path {
  fill: #ffffff;
}

.video-testimonial-item:hover .video-testimonial-content-box {
  bottom: 20px;
}


@media (max-width: 1599px) {
  .video-testimonial-slider-section .flickity-prev-next-button.next {
    right: 15px;
  }

  .video-testimonial-slider-section .flickity-prev-next-button.previous {
    left: 15px;
  }

  .video-testimonial-item .video-testimonial-content-box .video-testimonial-icons {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1399px) {
  .video-testimonial-slider-section .flickity-prev-next-button.next {
    right: 15px;
  }

  .video-testimonial-slider-section .flickity-prev-next-button.previous {
    left: 15px;
  }

  .video-testimonial-item {
    width: calc((100% / 3) - 18px);
  }
}

@media (max-width: 1199px) {
  .video-testimonial-slider-section {
    padding-top: 115px;
    padding-bottom: 115px;
  }

  .video-testimonial-slider-section .flickity-prev-next-button.next {
    right: 15px;
  }

  .video-testimonial-slider-section .flickity-prev-next-button.previous {
    left: 15px;
  }

  .video-testimonial-item {
    width: calc((100% / 2) - 10px);
  }
}

@media (max-width: 991px) {
  .video-testimonial-slider-section {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .video-testimonial-item {
    width: calc((100% / 2) - 12px);
  }
}

@media (max-width: 767px) {
  .video-testimonial-slider-section .heading-area {
    max-width: 550px;
    margin: 0 auto 44px;
  }

  .video-testimonial-item {
    width: calc((100% / 1) - 0px);
  }

  .video-testimonial-slider-section .heading-area .sec-title {
    font-size: 60px;
  }

  .video-testimonial-slider-section .heading-area .header-shape {
    max-width: 190px;
  }

  .video-testimonial-item .video-testimonial-images img {
    height: 550px;
  }
}

@media (max-width: 575px) {
  .video-testimonial-slider-section .heading-area {
    max-width: 350px;
  }

  .video-testimonial-slider-section .heading-area .sec-title {
    font-size: 45px;
  }

  .video-testimonial-item .video-testimonial-content-box .video-testimonial-text .video-testimonial-title {
    font-size: 22px;
  }

  .video-testimonial-slider-section .heading-area .header-shape {
    max-width: 110px;
    top: -10px;
  }
}

div.flickity-enabled.is-draggable .flickity-viewport {
  cursor: default;
}

/* !END: Video Testimonial CSS *

/**----------------------------------------
START: Pesto Card Block CSS
----------------------------------------*/
.pesto-card-block-section {
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  background: #E43324;
}

.pesto-card-block-section::after {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 16px;
  background: repeating-linear-gradient(to right,
      #E43324 0px,
      #E43324 40px,
      transparent 40px,
      transparent 80px);
}

.pesto-card-block-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: repeating-linear-gradient(to right,
      #f3dcc0 0px,
      #f3dcc0 40px,
      transparent 40px,
      transparent 80px);
}

.pesto-card-block-section .flickity-viewport {
  overflow: visible;
}

.pesto-card-block-section .pesto-card-block-progress-bar {
  height: 100%;
  background: #FCF1E3;
  width: 0;
}

.pesto-card-block-section .pesto-card-block-progress {
  height: 8px;
  background: rgba(252, 241, 227, 0.5);
  width: 90%;
}

.pesto-card-block-item {
  width: 55%;
  margin: 0 12px;
  overflow: hidden;
}

.pesto-card-block-item .pesto-card-block-image {
  display: flex;
}

.pesto-card-block-item .pesto-card-block-text {
  position: absolute;
  top: 40px;
  left: 35px;
  background: #ffc107;
  transform: rotate(-2deg);
  padding: 10px 75px 25px 16px;
}

.pesto-card-block-item .pesto-card-block-text .pesto-card-block-sub-title {
  display: block;
  color: #2A0C00;
  font-size: 80px;
  font-family: var(--sds-ff-heading);
  text-transform: uppercase;
  line-height: 1;
}

.pesto-card-block-item .pesto-card-block-text .pesto-card-block-sub-title.active-color {
  color: #E43324;
}

.pesto-card-block-item .pesto-card-block-button {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.pesto-card-block-section .pesto-card-block-slide-wrapper {
  position: relative;
  margin-top: 48px;
}

.pesto-card-block-section .pesto-card-block-navigation {
  display: flex;
  column-gap: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pesto-card-block-section .pesto-card-block-navigation button span {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  width: 52px;
  height: 52px;
  background: #FCF1E3;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;
}

.pesto-card-block-section .pesto-card-block-navigation button span:hover {
  background-color: #2A0C00;
}

.pesto-card-block-section .pesto-card-block-navigation button span svg {
  width: 18px;
  height: 18px;
  margin: 0 auto;
}

.pesto-card-block-section .pesto-card-block-navigation button span:hover svg path {
  fill: #ffffff;
}

@media (max-width: 1399px) {
  .pesto-card-block-section .pesto-card-block-progress {
    width: 85%;
  }

  .pesto-card-block-item .pesto-card-block-text .pesto-card-block-sub-title {
    font-size: 60px;
  }
}

@media (max-width: 1199px) {
  .pesto-card-block-section {
    padding-top: 115px;
    padding-bottom: 115px;
  }

  .pesto-card-block-section .pesto-card-block-progress {
    width: 84%;
  }

  .pesto-card-block-item .pesto-card-block-text {
    position: absolute;
    top: 25px;
    left: 20px;
  }

  .pesto-card-block-item .pesto-card-block-text .pesto-card-block-sub-title {
    font-size: 50px;
  }

  .pesto-card-block-section .pesto-card-block-navigation {
    column-gap: 15px;
  }
}

@media (max-width: 991px) {
  .pesto-card-block-section {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .pesto-card-block-item .pesto-card-block-text .pesto-card-block-sub-title {
    font-size: 40px;
  }

  .pesto-card-block-item .pesto-card-block-text {
    top: 20px;
    left: 15px;
    padding: 10px 30px 25px 16px;
  }

  .pesto-card-block-item .pesto-card-block-button {
    bottom: 15px;
    left: 15px;
  }

  .pesto-card-block-section .pesto-card-block-progress {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .pesto-card-block-item {
    width: 90%;
  }

  .pesto-card-block-section .pesto-card-block-navigation button span {
    width: 42px;
    height: 42px;
  }

  .pesto-card-block-section .pesto-card-block-navigation button span img {
    max-width: 8px;
  }

  .pesto-card-block-section .pesto-card-block-navigation {
    column-gap: 10px;
  }

  .pesto-card-block-section .pesto-card-block-progress {
    width: 78%;
  }

}

@media (max-width: 575px) {
  .pesto-card-block-item {
    width: 95%;
  }

  .pesto-card-block-item .pesto-card-block-text .pesto-card-block-sub-title {
    font-size: 30px;
  }

  .pesto-card-block-section .pesto-card-block-progress {
    width: 65%;
  }
}

@keyframes slideInOut {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(40px);
  }

  50.001% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0);
  }
}

/* !END: Pesto Card Block CSS *

/**----------------------------------------
START: Pesto Achievement CSS
----------------------------------------*/
.pesto-achievement-section {
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  overflow: hidden;
}

.pesto-achievement-area {
  position: relative;
}

.pesto-achievement-area::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 40px;
  width: 97%;
  height: 16px;
  background: repeating-linear-gradient(to right,
      #2A0C00 0px,
      #2A0C00 43px,
      transparent 43px,
      transparent 82px);
}

.pesto-achievement-area::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 16px;
  background: repeating-linear-gradient(to right,
      #2A0C00 0px,
      #2A0C00 40px,
      transparent 40px,
      transparent 82px);
}

.pesto-achievement-wrapper {
  padding-top: 180px;
}

.pesto-achievement-item {
  background: #F6E2C8;
  border: 1px solid #2A0C00;
}

.pesto-achievement-item .pesto-achievement-text .pesto-achievement-title {
  color: #E43324;
  font-size: 56px;
  line-height: 1;
}

/* !END: Pesto Achievement CSS *